@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IronOCR Demo</h1>
    <hr>
    <div>
        <p>IronOCR</p>
        <hr>
        <pre>@ViewBag.IronOCR</pre>
    </div>

</div>