@{
    ViewData["Title"] = "Version Page";
}

<div class="text-center">
    <h3 class="display-4">Current Prefix Version : @ViewBag.PrefixVersion </h3>
    <h3 class="display-4">Current Suffix Version : @ViewBag.SuffixVersion </h3>
    <h3 class="display-4">Current Version : @ViewBag.Version </h3>
</div>
