@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr>
    <div>
        <p>TesseractOCRService</p>
        <p>@ViewBag.TesseractOCRService</p>
    </div>


    <hr>
    <div>
        <p>TesseractService</p>
        <p>@ViewBag.TesseractService</p>
    </div>


</div>
