@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tesseract Demo</h1>
    <hr>
    <div>
        <p>TesseractOCR</p>
        <hr>
        <pre>@ViewBag.TesseractOCR</pre>
    </div>


    <hr>
    <div>
        <p>Tesseract</p>
        <hr>
        <pre>@ViewBag.Tesseract</pre>
    </div>


</div>
