@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr>
    <div>
        <p>TesseractOCR</p>
        <p>@ViewBag.TesseractOCR</p>
    </div>


    <hr>
    <div>
        <p>Tesseract</p>
        <p>@ViewBag.Tesseract</p>
    </div>


</div>
