@page "/protected"
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@using BlazorJWTLoginExample2.Service
@using Microsoft.IdentityModel.Tokens
@inject IHttpContextAccessor HttpContextAccessor
@inject JsonWebTokenService jwtService;
@inject NavigationManager Navigation

@if (IsAuthenticated)
{
    <h3>歡迎使用本系統：@UserName</h3>
    <h3>權限：@Type</h3>
    <h3>身分證ID：@Id</h3>
    <h3>暱稱：@NickName</h3>
    <div class="nav-item px-3">
        <button @onclick="LogoutMethod">登出</button>
    </div>
}
else
{
    <p>未登入</p>
}

@code {
    private bool IsAuthenticated => ValidateJwtToken(HttpContextAccessor?.HttpContext?.Session?.GetString("JWT"));
    private string UserName { get; set; } = string.Empty;
    private string Type { get; set; } = string.Empty;
    private string Id { get; set; } = string.Empty;
    private string NickName { get; set; } = string.Empty;

    private bool ValidateJwtToken(string token)
    {
        if (string.IsNullOrEmpty(token))
            return false;

        //1-1. token存在的情況下，檢查是否過期
        if (jwtService.IsMatchToken(token))
        {
            //1-2. 沒有過期則將用戶資料從Token取出，顯示在操作頁面上
            var tokenHandler = new JwtSecurityTokenHandler();
            var jwtToken = tokenHandler.ReadJwtToken(token);
            UserName = jwtToken.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
            Type = jwtToken.Claims.FirstOrDefault(c => c.Type == "type")?.Value;
            Id = jwtToken.Claims.FirstOrDefault(c => c.Type == "id")?.Value;
            NickName = jwtToken.Claims.FirstOrDefault(c => c.Type == "nickname")?.Value; 
            return true;
        }
        //1-3. token被註銷、或者過期視為不存在
        return false;
    }

    //3. 登出行為
    private void LogoutMethod()
    {
        // 移除 Session 中的 JWT，導回首頁
        HttpContextAccessor.HttpContext.Session.Remove("JWT");
        jwtService.SetInValid(HttpContextAccessor?.HttpContext?.Session?.GetString("JWT"));
        Navigation.NavigateTo("/");
    }
}