@{
    ViewData["Title"] = "首頁";
}

<div class="text-center">
    <h4 class="display-4">未設定 ForwardedHeadersOptions - 初始化的預設 Asp.net Web</h4>
    <a class="btn btn-primary" asp-controller="Home" asp-action="CallAPI">
        取得當前客戶端後端記錄到的IP API
    </a>

</div>
