@model GetDockerContainerEnvironmentParameterExample.Models.ContainerEnvironmentModel;
@{
    ViewData["Title"] = "Home Page";
}


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>AspNetCoreEnvironment</th>
            <th>DotNetEnvironment</th>
            <th>SecurityKey</th>
            <th>SecurityKey Hash MAC (SHA256)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.AspNetCoreEnvironment</td>
            <td>@Model.DotNetEnvironment</td>
            <td>@Model.SecurityKey</td>
            <td>@Model.SecurityKeyHashMAC</td>
        </tr>
    </tbody>
</table>
