<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreWebAutoIncrementVersionExample</title>    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <h1>NetCoreWebAutoIncrementVersionExample</h1>                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">手動版號範例</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AutoIncretmentVersion">自動遞增版號範例</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NetCoreWebAutoIncrementVersionExample - <a href="https://github.com/gotoa1234/">By Github gotoa1234</a>
        </div>
    </footer>    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
