@{
    ViewData["Title"] = "reCAPTCHA V2 - 核取方塊，我不是機器人機制";
}

<h2>reCAPTCHA V2 - 核取方塊，我不是機器人機制 Demo</h2>

<form method="post" asp-action="CheckBoxV2Validate">
    <input type="text" name="Username" placeholder="輸入名稱" value="MilkTeaGreen" />

    <div class="g-recaptcha" data-sitekey="6Ld8zqErAAAAAOCngiA0B_rcMWjMdz3w3fjr8puv"></div>

    <button type="submit">送出</button>
</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}