@{
    ViewData["Title"] = "首頁";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f8f9fa;
    }
</style>

<h2>reCAPTCHA Demo</h2>
<div>DEMO Google 3 種類型的 reCAPTCHA </div>
<br />
<hr>
<table>
    <thead>
        <tr>
            <th></th>
            <th>類型</th>
            <th>適合應用</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1. </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CheckBoxV2">reCAPTCHA V2 - 核取方塊，我不是機器人機制</a>
            </td>
            <td>
                表單、註冊、留言板的快速實作防護
            </td>
        </tr>
        <tr>
            <td>2. </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InvisibleV2">reCAPTCHA V2 - 隱藏在背景機制</a>
            </td>
            <td>
                需要平滑驗證流程的平台（如登入、提交）
            </td>
        </tr>
        <tr>
            <td>3. </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ScoreV3">reCAPTCHA V3 - Score 機制</a>
            </td>
            <td>
                大型網站、高流量平台，須自訂彈性策略防護
            </td>
        </tr>
    </tbody>
</table>