@{
    ViewData["Title"] = "reCAPTCHA V3 - Score 機制";
}

<h2>reCAPTCHA V3 - Score 機制 Demo</h2>

<form id="score-form" method="post" asp-action="ScoreV3Validate">
    <input type="text" name="Username" placeholder="輸入名稱" value="MilkTeaGreen" />
    <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response"  />
    <button type="submit">送出</button>
</form>

<script src="https://www.google.com/recaptcha/api.js?render=6Ldqo6QrAAAAAHoycY5qc7pwJjE1b8igiXXJ8vCq"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6Ldqo6QrAAAAAHoycY5qc7pwJjE1b8igiXXJ8vCq', { action: 'submit' }).then(function (token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
